*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, sans-serif;
  background-color: #f0f4f8;
  color: #2d3748;
  height: 100vh;
  overflow: hidden;
}

#root {
  height: 100vh;
}
